{{!< default}}
<main class="content" role="main">
    <article class="{{post_class}}">
        {{#post}}
        <h1 class="title">{{{title}}}</h1>
        <section class="post-content">
            {{content}}
        </section>
        {{/post}}
    </article>
</main>
